
.card-title{
    text-align: center;
}
.card{
    margin-left: 20px;
}
.title{
    text-align: center;
    color:#007bff ;
}
// .btn-primary{
//     text-align: center;  
// }
.mouseenter{
    color: red;

}
